<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Agregar imagen</title>
</head>
<body>
    <div class="container2">
        <div class="sidebar">
            <h2>Administrador</h2>
            <a href="{{ url_for('pagina.admingal') }}">
                <i class="bi bi-images"></i> Galería
            </a>
            <a href="{{ url_for('galeria.add') }}">
                <i class="bi bi-plus-circle"></i> Agregar Imagen
            </a>
            <a href="{{ url_for('pagina.admincon') }}">
                <i class="bi bi-envelope"></i> Contactanos
            </a>
            <a href="{{ url_for('auth.logout') }}" class="logout-link">
                <i class="bi bi-box-arrow-right"></i> Cerrar sesión
            </a>
        </div>
        <div class="content2">
            <h2 class="header">Agregar imagen</h2>
            <form action="{{ url_for('galeria.add') }}" method="post" enctype="multipart/form-data">
                <label for="title"> Titulo:</label>
                <input type="text" id="title" name="title" required>
                <label for="descrip">Descripción:</label>
                <textarea id="descrip" name="descrip" rows="4" required></textarea>
                <label for="imagenes">Imagen:</label>
                <input type="file" id="imagenes" name="imagenes">
                <button type="submit">Agregar imagen</button>
            </form>
        </div>
    </div>    
</body>
</html>