<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Agregar imagen</title>
</head>
<body>
    <h1>Agregar imagen</h1>
    <form action="{{ url_for('galeria.add') }}" method="post" enctype="multipart/form-data">
        <label for="title"> Titulo:</label>
        <input type="text" id="title" name="title" required>
        <label for="descrip">Descripcion:</label>
        <input type="text" id="descrip" name="descrip" required>
        <label for="imagenes">Imagen:</label>
        <input type="file" id="imagenes" name="imagenes">
        <button type="submit">Agregar imagen</button>
    </form>
</body>
</html>