<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guavatá, Santander - Página de Inicio</title>
    <link rel="stylesheet" href="/app/static/styleinicio.css">
    <style>

    </style>
</head>
<body>
    <nav class="navbar">
        <a href="#inicio">INICIO</a>
        <a href="#historia">HISTORIA</a>
        <a href="#cultura">CULTURA Y RELIGIÓN</a>
        <a href="#galeria">GALERÍA</a>
    </nav>

    <header class="hero">
        <h1>Bienvenido a Guavatá, Santander</h1>
    </header>

    <section class="info-section">
        <div class="info-card">
            <img src="../img/ALTURA.jpg" alt="Paisaje de Guavatá">
            <div class="info-card-content">
                <h2>Altura de Guavatá</h2>
                <p>Ubicada en la cordillera oriental de Colombia, Guavatá se encuentra a una altura promedio de 2,000 metros sobre el nivel del mar, con un rango entre 1,500 y 2,500 metros. Su ubicación le proporciona un clima templado y una topografía variada.</p>
            </div>
        </div>
        <div class="info-card">
            <img src="../img/POBLACION.jpg" alt="Habitantes de Guavatá">
            <div class="info-card-content">
                <h2>Población de Guavatá</h2>
                <p>Con aproximadamente 4,000 habitantes, Guavatá es un municipio pequeño pero con una comunidad unida. La mayoría de la población vive en zonas rurales, y la economía se basa principalmente en la agricultura.</p>
            </div>
        </div>
        <div class="info-card">
            <img src="../img/COMIDA.jpg" alt="Gastronomía de Guavatá">
            <div class="info-card-content">
                <h2>Gastronomía de Guavatá</h2>
                <p>La cocina de Guavatá refleja las tradiciones santandereanas. Destacan platos como el piquete en hoja de plátano, el bocadillo veleño y el guarapo de caña. Guavatá es conocida por su producción de guayaba y sus derivados.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Guavatá, Santander. Todos los derechos reservados.</p>
    </footer>
</body>
</html>