<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CULTURA</title>
</head>
<body>
    <H1> RIQUEZA CULTURAL</H1>
  <P>Las cultura de Guavata,Santander,es una mezcla vibrante de tradiciones indigena y española,reflejada en sus festevidades 
    ,patrinomio   arquictetonico,gastronomia y mitos . Aqui te dejo algunos aspecto destacados
</P>  
  <H2>FESTIVIDADES Y TRADICIONES</H2>
  <p>.FIESTA PATRONAL DEL SANTO CRISTO DE GUAVATA <p> <P>Un evento religioso importante en febrero , donde miles de feligreses visitan el santuario catolicco para rendir ho menaje
  </P>
  <h2>ATRACTIVOS NATURALES</h2>
  <p>.PAISAJE MOTOÑOSO RIOS <p><P>Guavata es un encantador ubicado en el departamento de Santader ,
    < </P>
</body>
</html>