<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app/static/style.css">
  <title>CULTURA</title>
</head>

<body>
  <div class="parrafo1">
    <img src="/app/static/img/cristo.jpg" alt="img Guavata">
    <H1> RIQUEZA CULTURAL</H1>
    <P>Las cultura de Guavata,Santander,es una mezcla vibrante de tradiciones indigena y española,reflejada en sus
      festevidades <br>
      ,patrinomio arquictetonico,gastronomia y mitos . Aqui te dejo algunos aspecto destacados
    </P>
  </div>


<div class= "parrafo2"></div>
  <H2>FESTIVIDADES Y TRADICIONES</H2>
  <p>.FIESTA PATRONAL DEL SANTO CRISTO DE GUAVATA
  <p>
  <P>Un evento religioso importante en febrero , donde miles de feligreses visitan el santuario catolicco para rendir ho
    menaje
  </P>

  <h2>ATRACTIVOS NATURALES</h2>
  <p>.PAISAJE MOTOÑOSO RIOS <p>
  <P>Guavata es un encantador municipio ubicado en el departamento de Santader , en colombia con sus paisajes montoñoso , sus rios cristalino y su gente caida <br> 
    Guavata es un destino perfecto para los amante de la naturaleza y aquello que desean explorar la riqueza cultura .
  </h3>

  </P>¿ Cual es la leyenda mas famosa de Guavata?</p>
  <p> una de las leyanda mas famosa de Guavata ,Santander es la de Mohan . Este personaje mitico  como un sabio protecto de la naturaleza o , en algunas versiones ,como un brujo temible <br>Se dice que Mohan habita cerca de los cuerpos del agua ,protegiendo sus tesosos oculto y castigados a quienes dañan el entorno familiar .</p>
</body>

</html>