<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img {
        width: 350px;
        height: auto;
        border: 0px solid black;
    }
</style>
</head>

<body>
    <section>
        <h3>GALERIA DE GUAVATA</h3>
        <figure>
            <h3>PARQUE SANTANDER DE LA GUAYAVA</h3>
            <img src="/app/static/img/Guavata.jpg" alt="Parque">

           </figure>

           <FIGURE> 
            <H3>SANTO CRISTO DE GUAVATÁ</H3>

            <img src="/app/static/img/iglesia.JPG" alt="iglesia">
            ">
           </FIGURE>
           <figure>
            <h3> PARQUE DE GUAVATÁ</h3>
           </figure>
    </section>
</body>
</html>