<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="RAICES">
        <H1>RAICES HISTORICAS</H1>
        <P>Guavatá es un municipio ubicado en el sur del departamento de santander,republica de colombia, y forma parte de la republica de velez, ubicado aproximadamente a 4 horas de bucaramanga,la capital del departamento, y fue fundadoen 1542, por Jimenez de quesada y Martin Galeano .</P>
    </div>

        <p>Guavatá es conocida como la capital mundial de la guayaba, ya que allí se cultiva desde epocas antepasadas dicho fruto, y tambien se fabrica una gran cantidad de bocadillos, el cual es comerciado en diferentes lugares de colombia.</p>
        <p>el municipio de Guavatá estuvo hubicado por las tribus muiscas chibchas, la franja altityudinal presnta un clima favorable para los asentamientos humanos en comparacion con otras zonas mas frias e insalumbres.  </p>
        <p>Guavata es un municipio con una rica historia y cultura que ha evolucionado a lo largo de los siglos. su belleza natural y patrimonio cultural la combierten en un destino turistico y atractivo en el departamento de santander. </p>
    </div>

     
    
    
    <h2></h2>



</body>
</html>