<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RAICES HISTORICAS</h1>
    <p>Guavatá es un municipio ubicado en el sur del departamento de santander,republica de colombia, y forma parte de la republica de velez, ubicado aproximadamente a 4 horas de bucaramanga,la capital del departamento, y fue fundadoen 1542, por jimenez de quesada y Martin Galeano . </p>
    <p>Guavtá es conocida como la capital mundial de la guayaba, ya que allí se cultiva desde epocas antepasadas dicho fruto, y tambien se fabrica una gran cantidad de bocadillos, el cual es comerciado en diferentes lugares de colombia. </p>
    <p></p>
    
    
    <h2></h2>



</body>
</html>