<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="RAICES">
        <H1>RAICES HISTORICAS</H1>
        <P>Guavatá es un municipio ubicado en el sur del departamento de santander,republica de colombia, y forma parte de la republica de velez,  <br>ubicado aproximadamente a 4 horas de bucaramanga,la capital del departamento, y fue fundadoen 1542, por Jimenez de quesada <br>y Martin Galeano (1539) La Real Audiencia de Santa Fe, inició el control económico y político, la apropiación y explotación de la tierra mediante <br>la encomienda, la estancia y los resguardos. La actividad agrícola en épocas de la colonia fue la caña, a finales de la Colonia se incrementó <br>y diversificó la producción agrícola, lo mismo que la minería y la actividad artesanal (textil); en esta época también se aceleró el crecimiento de <br>la población con el proceso de mestizaje iniciado en el siglo anterior.</P>
        <img class="imagen" src="/app/static/img/jimenez.jpg" alt="img jimenez">
        <img src="/app/static/img/martin.jpg" alt="img martin">
    </div>

        <p>Guavatá es conocida como la capital mundial de la guayaba, ya que allí se cultiva desde epocas antepasadas dicho fruto, y tambien se fabrica <br> una gran cantidad de bocadillos, el cual es comerciado en diferentes lugares de colombia.</p>
        <p>el municipio de Guavatá estuvo hubicado por las tribus muiscas chibchas, la franja altityudinal presnta un clima favorable para los asentamientos<br>  humanos en comparacion con otras zonas mas frias e insalumbres.  </p>
        <p>Guavata es un municipio con una rica historia y cultura que ha evolucionado a lo largo de los siglos. su belleza natural y patrimonio cultural la <br>combierten en un destino turistico y atractivo en el departamento de santander. </p>
         <p>La actividad agrícola en épocas de la colonia fue la caña, a finales de la colonia se incrementó y diversificó la producción agrícola, lo mismo que<br> la minería y la actividad artesanal (textil); en ésta época también se aceleró el crecimiento de la población con el proceso de mestizaje iniciado en el siglo anterior.
        <p>Guavatá figuran con 25 veredas las cuales son: San Rafael, Pavachoque, Puente Naranjos, San Jose de Iroba, Estancia de González, San Vicente, <br>San Roque Picacho, Botua I, Botua II, Matarredonda, Helechal y mesa,Casiquito, Pedregal, Popoa, Helechal y Mesa, Tres Esquinas,<br> Tres Esquinas Los Patios, Puerto López, Unión, Mercadillo, Escobal y El Injerto.</p>
        <p>En el ámbito cultural, Guavatá comparte muchas tradiciones con otros municipios de la provincia de Vélez, como la música carranguera, los festivales locales<br> y las costumbres campesinas. A lo largo de su historia, Guavatá ha mantenido su esencia rural, aunque ha tenido un<br> desarrollo gradual en términos de infraestructura y comunicaciones.

        <p> En los últimos años, el turismo ha empezado a ganar relevancia, debido a sus paisajes naturales y la cercanía con otros destinos turísticos de Santander. <br>Sin embargo, sigue siendo un municipio con un fuerte arraigo en sus tradiciones agrícolas y culturales.</p>
            
            
            
            
            
            
            </p> 
        
    </p>
    </div>


     
    
    
    <h2></h2>



</body>
</html>